rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // get - used if a client with want to read this document.
      // list - used if there is going to be a query returning this document.
      // To make this rule cascade I'll have to use restOfPath=** wildcard otherwise it won't.
      allow read, write: if false;
    }

    // Branch : supported_locations_resources_crud -> supported_locaitons_resources_crud_firestore_security_rules
    match /supported_countries/{countryId}{
      allow write: if false;
      allow read;
    }

    // Branch : supported_locations_resources_crud -> supported_locaitons_resources_crud_firestore_security_rules
    match /supported_provinces_or_states/{provinceOrStateId}{
      allow write: if false;
      allow read;
    }

    // Branch : supported_locations_resources_crud -> supported_locaitons_resources_crud_firestore_security_rules
    match /supported_cities/{cityId}{
      allow write: if false;
      allow read;
    }

    // Branch : supported_locations_resources_crud -> supported_locaitons_resources_crud_firestore_security_rules
    match /supported_suburbs_or_townships/{suburbOrTownshipId}{
      allow write: if false;
      allow read;
    }

    // Branch : supported_locations_resources_crud -> supported_locaitons_resources_crud_firestore_security_rules
    match /supported_areas/{areaId}{
      allow write: if false;
      allow read;
    }
  }
}