rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // get - used if a client with want to read this document.
      // list - used if there is going to be a query returning this document.
      // To make this rule cascade I'll have to use restOfPath=** wildcard otherwise it won't.
      allow read, write: if false;
    }

    / Branch : group_resources_crud_storage_security_rules
    // Note: Has Model Named {Alcoholic}
    match /alcoholics/{alcoholicPhoneNumber}{
      allow create: if true; //request.auth!=null &&

      //exists(/databases/$(database)/documents/admins/
      //$(request.auth.uid))==false &&

      // Phone number is provided and matches the document id provided.
      //request.resource.data.phoneNumber != null &&
      //request.resource.data.phoneNumber != '' &&
      //request.resource.data.phoneNumber == alcoholicPhoneNumber &&

      // New user isn't already an alcoholic nor is he a store owner.
      //exists(/databases/$(database)/documents/alcoholics/
      //$(request.auth.uid))==false &&

      //request.resource.data.profileImageURL != null &&
      //request.resource.data.profileImageURL != '' &&

      //request.resource.data.sectionName != null &&
      //request.resource.data.sectionName in 
      //[
        
        //'Cato Crest-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Cato Manor-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Dunbar-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Masxha-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Bonela-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Sherwood-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Richview-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Nsimbini-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Manor Gardens-Mayville-Durban-Kwa Zulu Natal-South Africa',
        
        //'MUT-Umlazi-Durban-Kwa Zulu Natal-South Africa',
        //'Haward College Campus-UKZN-Durban-Kwa Zulu Natal-South Africa',
        //'Westville Campus-UKZN-Durban-Kwa Zulu Natal-South Africa',
        //'Edgewood Campus-UKZN-Pinetown-Kwa Zulu Natal-South Africa',
        //'Steve Biko Campus-DUT-Durban-Kwa Zulu Natal-South Africa',
        

      //];

      allow read;

      // "update" is made this way because it conflicts with "create".
      allow update, delete: if false;
    }

    // Branch : group_resources_crud_storage_security_rules
    // Note: Has Model Named {Group}
    match /groups/{groupId}{

      allow create: if true; //request.auth != null &&

      // Make sure a user is an alcoholic.
      //exists(/databases/$(database)/documents/alcoholics/
      //$(request.auth.uid)) &&

      // Make sure users do not create more than one group.
      //exists(/databases/$(database)/documents/groups/
      //$(request.auth.uid)) == false && 

      //request.resource.data.groupName != null &&
      //request.resource.data.groupName.size() >= 3 &&

      //request.resource.data.groupImageURL!= null &&
      //request.resource.data.groupImageURL != '' &&

      //request.resource.data.groupSectionName in  
      //[
        //'Cato Crest-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Cato Manor-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Dunbar-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Masxha-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Bonela-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Sherwood-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Richview-Mayville-Durban-Kwa Zulu Natal-South Africa',
        //'Nsimbini-Mayville-Durban-Kwa Zulu Natal-South Africa',

        //'MUT-Umlazi-Durban-Kwa Zulu Natal-South Africa',
        //'Haward College Campus-UKZN-Durban-Kwa Zulu Natal-South Africa',
        //'Westville Campus-UKZN-Durban-Kwa Zulu Natal-South Africa',
        //'Edgewood Campus-UKZN-Pinetown-Kwa Zulu Natal-South Africa',
        //'Steve Biko Campus-DUT-Durban-Kwa Zulu Natal-South Africa',
      //] &&

      //request.resource.data.groupSpecificArea != null &&
      //request.resource.data.groupSpecificArea != '' &&
      
      //request.resource.data.groupCreatorPhoneNumber != null &&
      //request.resource.data.groupCreatorPhoneNumber == request.auth.uid &&

      //request.resource.data.groupCreatorUsername != null &&
      //request.resource.data.groupCreatorUsername != '' &&

      //request.resource.data.groupCreatorImageURL != null &&
      //request.resource.data.groupCreatorImageURL != '' &&
      
      //request.resource.data.groupMembers != null &&
      //request.resource.data.groupMembers.size() == 1 &&

      //request.resource.data.isActive==false &&
      
      //request.resource.data.maxNoOfMembers == 5;

      // Anybody can view groups.
      allow read;

      // Let users join or leave groups.
      allow update:if request.auth != null && 

      isSuperiorAdmin() == false &&
      
      request.resource.data.groupName == 
      resource.data.groupName &&

      request.resource.data.groupImageURL == 
      resource.data.groupImageURL &&

      request.resource.data.groupSectionName == 
      resource.data.groupSectionName &&

      request.resource.data.groupSpecificArea == 
      resource.data.groupSpecificArea &&
      
      request.resource.data.groupCreatorPhoneNumber ==
      resource.data.groupCreatorPhoneNumber &&

      request.resource.data.groupCreatorUsername ==
      resource.data.groupCreatorUsername &&

      request.resource.data.groupCreatorImageURL ==
      resource.data.groupCreatorImageURL &&
      
      // A user can only join or leave a group.
      (
        
      (
        request.resource.data.groupMembers.size() < resource.data.maxNoOfMembers &&
        request.resource.data.groupMembers.size()  == resource.data.groupMembers.size() + 1
        
      ) ||
      (
        request.resource.data.groupMembers.size() > 1 &&
        request.resource.data.groupMembers.size() ==
        resource.data.groupMembers.size() - 1
        
      )
      );

      allow delete: if false;
    }
  }
}