rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Branch : group_resources_crud ->  group_resources_crud_storage_security
    // Images can either be .png or .jpg in order for them to be acceptable.
    function isValidContentType(data) {
      return data.contentType in ['image/png', 'image/jpg'];
    }

    // Branch : group_resources_crud ->  group_resources_crud_storage_security
    function isValidFileExtension(fileName) {
      return fileName.matches('(?i:.*[.]png)');
    }

    // Branch : store_resources_crud ->  store_resources_crud_storage_security
    // Images must be less than 10MB
    function isValidFileSize(data) {
      return data.size < 10 * 1024 * 1024;
    }
  }
}
