<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2twc4hJoWynn9yJXZQbfOb1bGj7HjlnY</string>
	<key>GCM_SENDER_ID</key>
	<string>12105173009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alcoholic</string>
	<key>PROJECT_ID</key>
	<string>alcoholic-expressions</string>
	<key>STORAGE_BUCKET</key>
	<string>alcoholic-expressions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12105173009:ios:5221fc913192d9896c09b0</string>
</dict>
</plist>